body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
    text-transform: uppercase;
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

#message {
    display: inline-block;
    width: 20%;
}

button {
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    outline: none;
    text-transform: uppercase;
}

#reset {
    width: 140px;
}

button:hover {
    color: white;
    background-color: steelblue;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 600ms;
    -webkit-transition: background 600ms;
    -moz-transition: background 600ms;
}

.selected {
    color: white;
    background-color: steelblue;
}